<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.zcwfeng.common">
    <application>
        <activity android:name=".webview.WebActivity"
            android:hardwareAccelerated="true"
            android:theme="@style/WebviewTheme"
            android:process=":remoteweb"/>
    </application>
</manifest>