<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.zcwfeng.webview">

    <application android:usesCleartextTraffic="true">
        <activity android:name=".WebviewActivity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>