<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.zcwfeng.customwebview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application>
        <service android:name="top.zcwfeng.customwebview.mainprocess.MainProHandleRemoteService"/>
        <service android:name="top.zcwfeng.customwebview.remoteprocessservice.OptimizationService"
            android:process=":remoteweb"/>
    </application>
</manifest>